Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^[^www\.].*$ [NC]
RewriteRule ^/?([a-zA-Z0-9\-/]+)/?$ /index.php?link=$1 [L]